<style>
    .x1 {
    background: #fc0;
    padding: 10px;
      }
    </style>
    <style>
      .x2
      {
        background: rgba(128, 128, 128);
      }
    </style>
    <style>
      .x3
      {
        background: rgba(66, 253, 0);
      }
    </style>
    <style>
      .x4
      {
        background: rgb(9, 236, 236);
      }
    </style>
